<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SchoolManagementSystemEntities" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2FSV1Q3\MSSQLSERVER01;initial catalog=SchoolManagementSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="School_Management_System.Properties.Settings.SchoolManagementSystemConnectionString"
      connectionString="Data Source=DESKTOP-2FSV1Q3\MSSQLSERVER01;Initial Catalog=SchoolManagementSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>